section.contact#Contact
   h2.heading--section Contact
   .form__grid 
      img.form__img(src="./assets/img/form-img.png", alt="Form image")
      .form 
         input.form__control(type="text", name="name" placeholder="Your name" required)
         input.form__control(type="email", name="email" placeholder="Your email" required)
         textarea.form__control(placeholder="Your message") 
         button.btn.form__btn(type="submit") Send
   p.copyright
      | Copyright &copy; Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, blanditiis?
